<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ServletA</display-name>
    <servlet-name>ServletA</servlet-name>
    <servlet-class>com.sl.ServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletA</servlet-name>
    <url-pattern>/SA</url-pattern>
  </servlet-mapping>
  <display-name>ServletForwardingRedirectionDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletB</display-name>
    <servlet-name>ServletB</servlet-name>
    <servlet-class>com.sl.ServletB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletB</servlet-name>
    <url-pattern>/SB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletC</display-name>
    <servlet-name>ServletC</servlet-name>
    <servlet-class>com.sl.ServletC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletC</servlet-name>
    <url-pattern>/SC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletZ</display-name>
    <servlet-name>ServletZ</servlet-name>
    <servlet-class>com.sl.ServletZ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletZ</servlet-name>
    <url-pattern>/SZ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.sl.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/S1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.sl.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/S2</url-pattern>
  </servlet-mapping>
</web-app>