
<p>List of Product at Amzn today</p>

<!-- <ul *ngFor="let prod of products">
    <li>{{prod.name}},{{prod.price}}</li>
</ul> -->

<table border="1">
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Picture</th>
    </thead>

    <tr *ngFor="let prod of products">
        <td>{{prod.name}}</td>
        <td>{{prod.price}}</td>
        <td><img src="{{prod.imagePath}}" width="100" height="50"></td>
        <td><button (click)="addToCart()"> Add TO Cart </button> </td>
        <td><button (click)="changePrice(prod)" > Bid for the Product </button> </td>
    </tr>

</table>

CHALLENGE: Add another button that will send click event to the component. There it should change the price of the product by 10% less.